
.field, .field * {
    box-sizing: border-box;
}

.field {
    display: flex;
    margin: 20px auto ;
    width: 250px;
    height: 25px;
}

@media(max-width: 650px) {
    .field {
        height: 30px;
    }
}

.sr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.input {
    font-size: 16px;
    width: 175px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #ccc;
    box-shadow: none;
    height: 100%;
    padding: 3px 5px;
    outline: none;
}

.button {
    font-size: 16px;
    width: 75px;
    height: 100%;
    background: rgb(13, 110, 253);
    color: #fff;
    border: 1px solid rgb(13, 110, 253);
    border-radius: 0 3px 3px 0;
    outline: none;
    height: 100%;
    padding: 0;
    text-align: center;
}