
.list {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 95%;
    margin: 0 auto;
}

.item {
    width: 100%;
}

.title {
    margin-top: 0;
    text-align: left;
    margin-left: 1%;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
}